*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-family: "Courier New", monospace;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

li {
  display: inline-block;
  height: 129.5px;
  width: 270px;
  padding: 50px 1px 50px 1px;
  margin: 100px;
  background: palevioletred;
  text-align: center;
  border-radius: 30px;
  border: 2px solid palevioletred;
}

#second {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: peachpuff;
  display: inline-block;
}
