body {
  background-color: rgb(199, 21, 133);
}

h1 {
  font-family: "Courier New", monospace;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

li {
  display: flex;
  justify-items: centre;
}
